.controlgoal{
    background-color: transparent;
    position: absolute;
    margin-top: -51em;
    margin-left: 38em;
    color: white;
    text-align:center
}

.Righ{
    background-color: transparent;
    position: absolute;
    margin-top: -15em;
    margin-left: 50em;
    color:white;
    text-align: center;
    font-size: 25px;
    z-index: 2;

}

.left{
    background-color: transparent;
    position: absolute;
    margin-left: 5em;
    margin-top: -15em;
    color: white;
    text-align: center;
    font-size: 25px;
    z-index: 2;

}

.ground{
    width: 100vw;
    height: 99vh;
    z-index: 1;
}

.ball{
    width: 70px;
    height: 60px;
    border-radius: 50%;

    border: none;
    position: absolute;
    bottom: 2em;
    left: 55em;
    cursor: pointer;
}

#r1,#r2{
    display: none;
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: transparent;
    color: red;
    position: absolute;
    left: 18em;
    top: 7em;
}

.i1{
    width: 105px;
    height: 50px;
}

.i2{
    width: 400px;
    height: 200px;
    position: absolute ;
    left: 38em;
    top: 22em;
}


.control{
    height: 40px;
    width: 100px;
    margin: 5px;
    z-index: 2;
    border: 2px solid black;
    background-color: grey;
    border-radius: 20px;
}

@keyframes  left0 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:19em;
        left:32em;
    }
}

@keyframes  left1 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:32em;
        left:32em;
    }
}
@keyframes  left2 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:26em;
        left:32em;
    }
}
@keyframes  righ0 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:32em;
        left:75em;
    }
}

@keyframes  right1 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:32em;
        left:75em;
    }
}
@keyframes  right2 {
    0%{
        top:26em;
        left:75em;
    }
    100%{
        top:32em;
        left:32em;
    }
}
@keyframes  center0 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:18em;
        left:53em;
    }
}
@keyframes  center1 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:30em;
        left:53em;
    }
}

@keyframes  center2 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:25em;
        left:53em;
    }
}

@keyframes  Outside1 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:3.5em;
        left:85em;
    }
}

@keyframes  Outside2 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:3.5em;
        left:15em;
    }
}

@keyframes  Outside3 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:3.5em;
        left:55em;
    }
}

@keyframes  Outside4 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:32em;
        left:15em;
    }
}


@keyframes  Outside5 {
    0%{
        top:45em;
        left:54em;
    }
    100%{
        top:32em;
        left:85em;
    }
}

@keyframes gl0 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 11em;
        left:25em;
        transform: rotate(-40deg);
    }
}


@keyframes gl1 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 15em;
        left:25em;
        transform: rotate(-20deg);
    }
}

@keyframes gl2 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 17em;
        left:25em;
    }
}


@keyframes gc0 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 11em;
        left:25em;
        transform: rotate(-40deg);
    }
}


@keyframes gc1 {
    0%{
        top: 16em;
    }
    100%{
        top: 15em;
    }
}

@keyframes gc2 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 17em;
        left:25em;
    }
}

@keyframes gr0 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 11em;
        left: 55em;
        transform: rotate(40deg);
    }
}


@keyframes gr1 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 15em;
        left:55em;
        transform: rotate(20deg);
    }
}

@keyframes gr2 {
    0%{
        top: 16em;
        left:40em;
    }
    100%{
        top: 17em;
        left:55em;
    }
}


